name: Test CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Node version
        run: node -v

      - name: NPM version
        run: npm -v
